*.pyc
*.log
.*.sw*
.*.pyc*
.*.log*
autosubmit/miniTest.py
autosubmit/simple_test.py
.vscode/
.pytest_cache/
.idea/
autosubmit.egg-info/
docs/build/
dist/
build/
.cache

# Coverage files
coverage/
.coverage
test/coverage.xml
coverage.xml
test/htmlcov

# Docker
dockerfiles/id_rsa*
dockerfiles/authorized_keys

