# FORMAT: <replace-with--name>  <replace-with-email>  <commit-name>  <commit-email>
# Omit commit-name or commit-email if same as replace-with.
# git log --pretty="%aN <%aE>%n%cN <%cE>" | sort | uniq

Bruno P. Kinoshita          <bruno.depaulakinoshita@bsc.es>               Bruno de Paula Kinoshita        <777-bdepaula@users.noreply.earth.bsc.es>
Bruno P. Kinoshita          <bruno.depaulakinoshita@bsc.es>               Bruno P. Kinoshita              <kinow@users.noreply.github.com>
Daniel Beltran Mora         <daniel.beltran@bsc.es>                       dbeltran                        <daniel.beltran@bsc.es>
Daniel Beltran Mora         <daniel.beltran@bsc.es>                       dbeltran                        <dbeltran@bsc.es>
Daniel Beltran Mora         <daniel.beltran@bsc.es>                       Daniel Beltran Mora             <dbeltran@bsc.es>
Danila Volpi                <dvolpi@bsc.es>                               Danila Volpi                    <dvolpi@ic3.cat>
Domingo Manubens-Gil        <domingo.manubens@bsc.es>                     dmanubens                       <dmanubens@ic3.cat>
Domingo Manubens-Gil        <domingo.manubens@bsc.es>                     Domingo Manubens                <dmanubens@ic3.cat>
Domingo Manubens-Gil        <domingo.manubens@bsc.es>                     Domingo Manubens                <domingo.manubens@ic3.cat>
Domingo Manubens-Gil        <domingo.manubens@bsc.es>                     Domingo Manubens-Gil            <domingo.manubens@ic3.cat>
Francesc Roura              <francesc.roura@bsc.es>                       froura                          <francesc.roura@bsc.es>
Francesca Macchia           <francesca.macchia@bsc.es>                    fmacchia
Isabel Andreu-Burillo       <isabel.andreu-burillo@ic3.cat>               Isabel Andreu-Burillo           <iandreu@hoder.cfu.local>
Javier Vegas-Regidor        <javier.vegas@bsc.es>                         jvegas                          <javier.vegas@ic3.cat>
Javier Vegas-Regidor        <javier.vegas@bsc.es>                         Javier Vegas-Regidor            <javier.vegas@ic3.cat>
Javier Vegas-Regidor        <javier.vegas@bsc.es>                         Javier Vegas-Regidor            <jvegas@turing2.cfu.local>
Joan Lopez                  <joan.lopez@bsc.es>                           jlope2                          <joan.lopez@bsc.es>
Julian Berlin               <julian.berlin@bsc.es>                        jberlin                         <julian.berlin@bsc.es>
Larissa Batista Leite       <larissa.batista@bsc.es>                      lbatista                        <larissa.batista@bsc.es>
Manuel G. Marciani          <manuel.gimenez@bsc.es>                       Manuel Giménez de Castro        <manuel.gimenez@bsc.es>
Miguel Andrés Martínez      <miguel.andres-martinez@awi.de>               Miguel Andres-Martinez          <miguel.andres-martinez@awi.de>
Muhammad Asif               <muhammad.asif@ic3.cat>                       Muhammad Asif                   <masif@ic3.cat>
Muhammad Asif               <muhammad.asif@ic3.cat>                       Muhammad Asif                   <masif@meili.cfu.local>
Oriol Mula-Valls            <oriol.mula@bsc.es>                           Oriol Mula-Valls                <omula@ic3.cat>
Oriol Mula-Valls            <oriol.mula@bsc.es>                           Oriol Mula Valls                <omula@turing.cfu.local>
Oriol Mula-Valls            <oriol.mula@bsc.es>                           Oriol Mula Valls                <oriol.mula-valls@ic3.cat>
Oriol Mula-Valls            <oriol.mula@bsc.es>                           Oriol Mula-Valls                <oriol.mula-valls@ic3.cat>
Oriol Mula-Valls            <oriol.mula@bsc.es>                           Administrator                   <cfuit@ic3.cat>
Pierre-Antoine Bretonniere  <pierre-antoine.bretonniere@bsc.es>           Pierre-Antoine Bretonniere      <pabretonniere@garibaldi.cfu.local>
Virginie Guemas             <vguemas@ic3.cat>                             vguemas                         <vguemas@heimdall.cfu.local>
Virginie Guemas             <vguemas@ic3.cat>                             Virginie Guemas                 <virginie.guemas@ic3.cat>
Virginie Guemas             <vguemas@ic3.cat>                             Virginie                        <virginie.guemas@ic3.cat>
Wilmer Uruchi Ticona        <wilmer.uruchi@bsc.es>                        wuruchi                         <wilmer.uruchi@bsc.es>
