name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
permissions:
  contents: read

jobs:

  test-slurm:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install system dependencies
        run: sudo apt-get install -y curl git graphviz rsync

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip packaging
          pip install --upgrade -e .[all]

      - name: Set up Git
        run: |
          # From: https://stackoverflow.com/questions/62960533/how-to-use-git-commands-during-a-github-action
          # Set up dummy configuration for integration tests.
          git --version
          git config --global user.email "test@bsc.es"
          git config --global user.name "GitHub Actions"

      - name: Integration tests
        run: |
          pytest \
            --cov=autosubmit --cov-config=.coveragerc \
            --cov-report=xml:test/coverage.xml --cov-append \
            test/integration \
            --capture=no \
            -m 'slurm'

      - name: Coverage report
        run: |
          coverage report
          coverage xml

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v5
        with:
          name: coverage_slurm_py-${{ matrix.python-version }}
          path: coverage.xml
          retention-days: 7

